#!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
TESTOPTS += -v
export TESTOPTS

DEB_HOST_MULTIARCH := $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

configure_options += --enable-multiarch
configure_options += --target=$(DEB_HOST_MULTIARCH)
configure_options += --program-suffix=2.0
configure_options += --with-soname=ruby-2.0
configure_options += --enable-shared
configure_options += --disable-rpath
configure_options += --with-baseruby=/usr/bin/ruby1.9.1
configure_options += --with-sitedir='/usr/local/lib/site_ruby'
configure_options += --with-sitearchdir="/usr/local/lib/$(DEB_HOST_MULTIARCH)/site_ruby"

# the following are ignored by ./configure, but used by some extconf.rb scripts
configure_options += --enable-ipv6
configure_options += --with-dbm-type=gdbm_compat

# hardening and other standard Debian build flags
configure_options += $(shell dpkg-buildflags --export=configure)

%:
	dh $@ --parallel --with autotools-dev --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- $(configure_options)

override_dh_auto_clean:
	dh_auto_clean
	$(RM) -r .ext
	$(RM) -r doc/capi

override_dh_autoreconf_clean:
	dh_autoreconf_clean

override_dh_auto_build:
	dh_auto_build -- main

override_dh_auto_install:
	$(MAKE) install-nodoc DESTDIR=$(CURDIR)/debian/tmp
	dh_link -pruby2.0 usr/bin/ruby2.0 usr/bin/$(DEB_HOST_MULTIARCH)-ruby2.0
	debian/sanity_check

override_dh_auto_build-indep:
	$(MAKE) docs

# No tests needed for docs
override_dh_auto_test-indep:

override_dh_auto_install-indep:
	$(MAKE) install-doc DESTDIR=$(CURDIR)/debian/tmp
	dh_install -pruby2.0-doc usr/share/ri
	dh_install -pruby2.0-doc usr/share/doc/ruby-capi/html /usr/share/doc/ruby2.0-doc/
	find debian/ruby2.0-doc/ -type d -empty

