#utoto!/usr/bin/make -f
# -*- makefile -*-

# export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
#TESTOPTS += -v
#export TESTOPTS

#DEB_HOST_GNU_TYPE := $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)


#configure_options += --enable-multiarch
#configure_options += --target=$(DEB_HOST_GNU_TYPE)
configure_options = --program-suffix=2.1
configure_options += --with-soname=ruby-2.1
configure_options += --enable-shared
configure_options += --disable-rpath
configure_options += --with-baseruby=/usr/bin/ruby
configure_options += --with-sitedir='/usr/local/lib/site_ruby'
#configure_options += --with-sitearchdir="/usr/local/lib/site_ruby"

# the following are ignored by ./configure, but used by some extconf.rb scripts
configure_options += --enable-ipv6
configure_options += --with-dbm-type=gdbm_compat

# hardening and other standard Debian build flags
configure_options += $(shell dpkg-buildflags --export=configure)


%:
	dh $@ --parallel --with autoreconf

#override_dh_auto_configure:
#	mkdir -p debian/lib
#	dh_auto_configure -- $(configure_options)

#override_dh_auto_build-arch:
#	dh_auto_build -- main V=1

override_dh_auto_install-arch:
	make install-nodoc DESTDIR=./debian/tmp
	# remove RPATH from tcltklib bindings
	chrpath --delete ./debian/tmp/usr/lib/ruby/2.1.0/tcltklib.so
	# handle embedded copy of jquery
	rm ./debian/tmp/usr/lib/ruby/2.1.0/rdoc/generator/template/darkfish/js/jquery.js
	dh_link -plibruby2.1 /usr/share/javascript/jquery/jquery.min.js /usr/lib/ruby/2.1.0/rdoc/generator/template/darkfish/js/jquery.js
	# sanity check
	debian/sanity_check

override_dh_auto_build-indep:
	make docs V=1

override_dh_auto_install-indep:
	make install-doc DESTDIR=./debian/ruby2.1-doc

override_dh_install:
	dh_install
	# split Ruby/Tk files
	ruby debian/split-tk-out.rb
